{% extends 'baseLouvre.html.twig' %}

{% block title %}Accueil Louvre{% endblock %}

{% block body %}

    {% include 'louvre/parts/nav.html.twig'%}

    <div class="content">

        <h1 class="text-center">
            Bienvenue sur la billetterie en ligne du Louvre
        </h1>

        <h2>
            Tarifs et conditions
        </h2>

        <p>
            Le musée du Louvre est ouvert chaque jour, sauf :
            <ul>
                <li>Les mardis</li>
                <li>Le 1er Mai</li>
                <li>Le 1er Novembre</li>
                <li>Le 25 décembre</li>
            </ul>
        </p>
        <p>
            Il existe deux types de billets : le billet « Journée » et le billet « Demi-journée » (il ne permet de rentrer qu'à partir de 14 h 00). L'entrée est gratuite pour les enfants de moins de quatre ans.
        </p>
        <h3>Liste des tarifs</h3>
        <ul>
            <li>
                De 4 à 12 ans : 8€
            </li>
            <li>
                De 12 à 60 ans : 18€
            </li>
            <li>
                + de 60 ans : 12€
            </li>
            <li>
                Tarif réduit : 10€ (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire...) En cas de tarif réduit,
                <strong>un justificatif vous sera demandé a l'entré.</strong>
            </li>
        </ul>
        <h3>Réception des billets</h3>

        <p>Une fois votre commande validée, les billets vous seront envoyés sur votre boite mail.</p>
        <h3>Paiement</h3>
        <p>
            La solution de paiement par cartes bancaires que nous proposons est un système sécurisé.
        </p>
        <p>
            Aucune de vos données bancaires ne transitent par nos services et ne sont donc jamais enregistrées.
        </p>
    </div>

{% endblock %}