{% extends 'baseLouvre.html.twig' %}

{% block body %}

    <div class="content">

        <div class="text-center margin-top margin-bottom menu">

            <a href="/">
                <button type="button" class="btn btn-secondary">
                    <i class="fa fa-info-circle"></i>
                    Infos tarifs
                </button>

            </a>
            <a href="/billets">

                <button type="button" class="btn btn-secondary">
                    <i class="fa fa-cart-arrow-down"></i>
                    Billetterie
                </button>
            </a>

        </div>

        <h1 class="text-center">Page non trouvée</h1>

        <div>
        {% endblock %}