body {
    background-color: rgba(0, 0, 0, 0.938);
    background-image: url('../images/louvre_nuit.jpg');
    background-repeat: no-repeat;
    background-position: top;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

.margin-left {
    margin-left: 25px;
}

.margin-right {
    margin-right: 25px;
}

h1,
h2,
h3,
p {
    /*  background-color: rgba(26, 21, 15, 0.712); */
    text-align: justify;
    margin-top: 30px
}

.menu>a>.btn-secondary {
    background-color: rgb(238, 238, 238);
    color: black;
    height: 40px;
    width: 165px;
    margin-top: 10px;
}

.menu>a>.btn-secondary>.fa {
    font-size: 1.6em;
    color: black;
    margin-right: 8px;
}

.content {
    background-color: rgba(26, 21, 15, 0.712);
    margin-left: 10px;
    width: 80%;
    max-width: 650px;
    padding: 20px;
    margin: auto;
}

.text-center {
    text-align: center;
}

.margin-top {
    margin-top: 40px;
}

.margin-top-half {
    margin-top: 15px;
}

.margin-bottom {
    margin-bottom: 40px;
}

.table-condensed {
    position: absolute;
    max-width: 400px;
    margin: auto;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    border-collapse: separate;
}

.datepicker {
    max-width: 200px;
}

.datepicker table {
    min-width: 250px;
    max-width: 350px;
    color: black
}

.datepicker table tr td span {
    margin: 3%
}

#louvrebundle_billetsoption_nombre {
    display: inline-block;
    max-width: 100px;
    margin-top: 30px;
    padding: 0;
    border: 0;
}

.form-group>label {
    display: block;
}

#nbrTicket {
    font-size: 1.5em;
    color: black;
    background-color: white;
    min-width: 40px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    margin-left: 20px;
}
#louvrebundle_billetsoption_mail,
#louvrebundle_billetsoption_date {
    width: 200px;
    height: 35px;
    text-align: center;
}
.fa-minus-square,
.fa-plus-square {
    position: relative;
    margin-bottom: 20px;
    font-size: 24px;
    margin: 12px;
}

.form-check-inline {
    margin-right: 20px;
    width: 120px;
    background-color: white;
    color: black;
    border-radius: 4px;
    text-align: left;

}
.input-check-tarif{
    font-size: 0.9em;
}

.form-check-input {
    position :relative;
    width: 18px;
    height: 18px;
    margin-left: 25px;
    word-wrap: none;
    max-width: 200px;
    
}

.list-group,
.badge-pill {
    color: black;
}

.tableau {
    color: black;
    border-radius: 4px;
}

.tableau>.row {
    background-color: white;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.btnTickets,
.louvrebundle_ticketscollection_billets-collection-rescue-add {
    border-color: rgb(0, 0, 0);
    background-color: rgba(105, 99, 99, 0.568);
    padding: 0;
    font-size: 16px;
    color: white;
}

.btn-add-billet:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(105, 99, 99, 0.932);
}
.collection-remove{
    background-color: #d9534f;
    padding:0;
    font-size: 12px;
}

a:focus {
    color: rgb(255, 255, 255);
    background-color: rgba(105, 99, 99, 0.932);
    border-color: black;
}

.mini-input {
    min-width: 120px;
    max-width: 150px;
    font-size: 0.8em;
}

#louvrebundle_ticketscollection_billets {
    width: 100%;
    word-break: normal;
    margin: 5px;
    padding: 0;
    /*  font-size: .9em; */
}

.form-check-label {
    margin-left: 2px;
    margin-right: 5px;
    padding: 8px;
    border-color: white;
}

.alertinfo {
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0.295);
    border-color: white;
    border-radius: 4px;
}

@media screen and (max-width: 640px) {
    .content {
        min-width: 100%;
        padding: 10px;
        margin: 0;
    }
}

#louvrebundle_billetsoption_valider {
    margin-left: 15px;
}
.form-control{
    margin-top:8px;
}
.input-pays > label{
    margin:0;
}
.btn-text > p{
    text-align: left;
    font-size: 0.9em;
    margin-left: 18px;
}

.louvrebundle_ticketscollection_save{
    margin-bottom: 100px;
}
.debug {
    background-color: aliceblue;
    color: black;
    font-weight: 900;
    font-size: 1.2em;
}

.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}